@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-L.ttf') }}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-R.ttf') }}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-M.ttf') }}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-B.ttf') }}") format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-LI.ttf') }}") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-RI.ttf') }}") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-MI.ttf') }}") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("{{ public_path('fonts/Ubuntu/Ubuntu-BI.ttf') }}") format('truetype');
    font-weight: bold;
    font-style: italic;
}