.theme-light {
    --body: theme('colors.gray.100');
    --icon-menu: theme('colors.gray.800');

    --fondo-link-nav: theme('colors.gray.100');
    --color-link-nav: theme('colors.gray.800');
    --hover-link-nav: theme('colors.slate.300');
    --hover-color-link-nav: theme('colors.gray.900');
    --ring-link-nav: theme('colors.gray.300');

    --color-primary: theme('colors.gray.600');

    --color-button-theme: theme('colors.white');
    --fondo-button-theme: theme('colors.next.500');
}

.theme-next {
    --body: theme('colors.gray.50');
    --sidebar: theme('colors.next.100');
    --icon-menu: theme('colors.next.500');

    --color-label: theme('colors.neutral.700');
    --color-input: theme('colors.neutral.500');

    --fondo-link-nav: theme('colors.next.100');
    --color-link-nav: theme('colors.next.500');
    --hover-link-nav: theme('colors.next.500');
    --hover-color-link-nav: theme('colors.white');
    --ring-link-nav: theme('colors.next.300');

    --fondo-dropdown: theme('colors.white');
    --color-dropdown: theme('colors.next.500');
    --fondo-hover-dropdown: theme('colors.neutral.200');
    --texto-hover-dropdown: theme('colors.next.600');

    --color-primary: theme('colors.next.600');
    --color-title: theme('colors.next.400');

    --color-button-close: theme('colors.white');
    --fondo-button-close: theme('colors.next.500');
    --color-hover-button-close: theme('colors.white');
    --fondo-hover-button-close: theme('colors.next.700');
    --ring-button-close: theme('colors.next.300');

    --color-button-increment: theme('colors.neutral.500');
    --fondo-button-increment: theme('colors.neutral.200');
    --color-hover-button-increment: theme('colors.neutral.700');
    --fondo-hover-button-increment: theme('colors.neutral.200');
    --ring-button-increment: theme('colors.neutral.200');

    --color-button: theme('colors.white');
    --fondo-button: theme('colors.next.500');
    --color-hover-button: theme('colors.white');
    --fondo-hover-button: theme('colors.next.700');
    --ring-button: theme('colors.next.300');

    --color-button-theme: theme('colors.next.700');
    --fondo-button-theme: theme('colors.gray.100');

    --fondo-minicard: theme('colors.white');
    --color-minicard: theme('colors.next.500');
    --shadow-minicard: theme('colors.gray.300');
    --border-minicard: theme('colors.gray.300');

    --fondo-titlecardnext: theme('colors.next.500');
    --color-titlecardnext: theme('colors.white');
    --text-cardnext: theme('colors.gray.800');

    --text-cardproduct: theme('colors.gray.800');
    --fondo-spancardproduct: theme('colors.gray.200');
    --text-spancardproduct: theme('colors.gray.800');

    --fondo-header-modal: theme('colors.next.600');
    --color-header-modal: theme('colors.next.800');
    --fondo-body-modal: theme('colors.gray.50');

    --fondo-select2: theme('colors.white');
    --color-select2: theme('colors.gray.500');
    --fondo-hover-select2: theme('colors.gray.100');
    --color-hover-select2: theme('colors.gray.500');
    --color-active-select2: theme('colors.white');
    --fondo-active-select2: theme('colors.next.500');
    --shadow-select2: theme('colors.gray.300');

    --text-header-table: theme('colors.neutral.100');
    --fondo-header-table: theme('colors.next.500');
    --text-body-table: theme('colors.neutral.700');
    --fondo-body-table: theme('colors.transparent');
    --text-hover-table: theme('colors.next.500');
    --fondo-hover-table: theme('colors.neutral.200');
    --divide-table: theme('colors.neutral.200');
    --text-span-table: theme('colors.white');
    --fondo-span-table: theme('colors.next.500');
    --link-table: theme('colors.next.500');
    --hover-link-table: theme('colors.next.700');

    --fondo-input-disabled: theme('colors.gray.100');
    --color-input-disabled: theme('colors.next.500');

    --color-error: theme('colors.red.600');

    --fondo-pagination: theme('colors.transparent');
    --color-pagination: theme('colors.next.500');
    --fondo-active-pagination: theme('colors.next.500');
    --color-active-pagination: theme('colors.white');
    --shadow-pagination: theme('colors.next.200');

    --fondo-loading: theme('colors.gray.200');
    --color-loading: theme('colors.next.500');

    --fondo-form: theme('colors.gray.100');
    --color-title-form: theme('colors.next.500');
    --color-subtitle-form: theme('colors.gray.500');
    --shadow-form: theme('colors.gray.200');

    --fondo-footer: theme('colors.next.700');
    --color-link-footer: theme('colors.white');
    --hover-link-footer: theme('colors.neutral.200');

    --color-button-print: theme('colors.neutral.800');
    --fondo-button-print: theme('colors.transparent');
    --color-hover-button-print: theme('colors.white');
    --fondo-hover-button-print: theme('colors.neutral.900');
    --ring-button-print: theme('colors.neutral.300');

    --fondo-header-marketplace: theme('colors.white');
    --color-header-marketplace: theme('colors.neutral.500');

    --fondo-search-marketplace: theme('colors.neutral.100');
    --color-search-marketplace: theme('colors.neutral.700');
    --fondo-button-search-marketplace: theme('colors.neutral.500');
    --color-button-search-marketplace: theme('colors.white');
    --ring-button-search-marketplace: theme('colors.neutral.300');

    --fondo-badge-marketplace: theme('colors.next.800');
    --color-badge-marketplace: theme('colors.white');

    --fondo-logo-asus: theme('colors.neutral.900');
    --color-logo-asus: theme('colors.white');

    --color-logo-brother: theme('colors.blue.800');
    --color-logo-lenovo: theme('colors.red.600');
}

.theme-darknext {
    --body: theme('colors.neutral.700');
    --sidebar: theme('colors.neutral.800');
    --icon-menu: theme('colors.next.500');

    --color-label: theme('colors.white');
    --color-input: theme('colors.neutral.100');

    --fondo-link-nav: theme('colors.neutral.950');
    --color-link-nav: theme('colors.next.500');
    --hover-link-nav: theme('colors.next.500');
    --hover-color-link-nav: theme('colors.white');
    --ring-link-nav: theme('colors.next.300');

    --fondo-dropdown: theme('colors.neutral.600');
    --color-dropdown: theme('colors.white');
    --fondo-hover-dropdown: theme('colors.neutral.500');
    --texto-hover-dropdown: theme('colors.white');

    --color-primary: theme('colors.next.600');
    --color-title: theme('colors.next.400');

    --color-button-close: theme('colors.white');
    --fondo-button-close: theme('colors.transparent');
    --color-hover-button-close: theme('colors.white');
    --fondo-hover-button-close: theme('colors.neutral.600');
    --ring-button-close: theme('colors.neutral.600');

    --color-button-increment: theme('colors.next.500');
    --fondo-button-increment: theme('colors.white');
    --color-hover-button-increment: theme('colors.neutral.500');
    --fondo-hover-button-increment: theme('colors.white');
    --ring-button-increment: theme('colors.neutral.300');

    --color-button: theme('colors.white');
    --fondo-button: theme('colors.next.500');
    --color-hover-button: theme('colors.white');
    --fondo-hover-button: theme('colors.next.700');
    --ring-button: theme('colors.next.300');

    --color-button-theme: theme('colors.white');
    --fondo-button-theme: theme('colors.neutral.900');

    --fondo-minicard: theme('colors.neutral.600');
    --color-minicard: theme('colors.white');
    --shadow-minicard: theme('colors.neutral.500');
    --border-minicard: theme('colors.neutral.500');

    --fondo-titlecardnext: theme('colors.next.500');
    --color-titlecardnext: theme('colors.white');
    --text-cardnext: theme('colors.next.400');

    --text-cardproduct: theme('colors.next.400');
    --fondo-spancardproduct: theme('colors.neutral.500');
    --text-spancardproduct: theme('colors.white');

    --fondo-header-modal: theme('colors.neutral.700');
    --color-header-modal: theme('colors.white');
    --fondo-body-modal: theme('colors.neutral.700');

    --fondo-select2: theme('colors.neutral.700');
    --color-select2: theme('colors.white');
    --fondo-hover-select2: theme('colors.neutral.500');
    --color-hover-select2: theme('colors.white');
    --color-active-select2: theme('colors.white');
    --fondo-active-select2: theme('colors.next.500');
    --shadow-select2: theme('colors.neutral.950');
    --color-subtitle-select2: theme('colors.neutral.400');
    --color-active-subtitle-select2: theme('colors.neutral.100');

    --text-header-table: theme('colors.neutral.100');
    --fondo-header-table: theme('colors.neutral.500');
    --text-body-table: theme('colors.white');
    --fondo-body-table: theme('colors.transparent');
    --text-hover-table: theme('colors.white');
    --fondo-hover-table: theme('colors.neutral.500');
    --divide-table: theme('colors.neutral.500');
    --text-span-table: theme('colors.white');
    --fondo-span-table: theme('colors.next.500');
    --link-table: theme('colors.next.500');
    --hover-link-table: theme('colors.next.700');

    --fondo-input-disabled: theme('colors.neutral.500');
    --color-input-disabled: theme('colors.next.500');

    /* --color-error: theme("colors.red.600"); */
    --color-error: #ff4b4b;

    --fondo-pagination: theme('colors.neutral.500');
    --color-pagination: theme('colors.white');
    --fondo-active-pagination: theme('colors.next.500');
    --color-active-pagination: theme('colors.white');
    --shadow-pagination: theme('colors.neutral.700');

    --fondo-loading: theme('colors.neutral.600');
    --color-loading: theme('colors.next.500');

    --fondo-form: theme('colors.neutral.600');
    --color-title-form: theme('colors.white');
    --color-subtitle-form: theme('colors.neutral.300');
    --shadow-form: theme('colors.neutral.500');

    --fondo-footer: theme('colors.next.700');
    --color-link-footer: theme('colors.white');
    --hover-link-footer: theme('colors.neutral.200');

    --color-button-print: theme('colors.white');
    --fondo-button-print: theme('colors.transparent');
    --color-hover-button-print: theme('colors.white');
    --fondo-hover-button-print: theme('colors.neutral.900');
    --ring-button-print: theme('colors.neutral.500');

    --fondo-header-marketplace: theme('colors.neutral.700');
    --color-header-marketplace: theme('colors.neutral.300');

    --fondo-search-marketplace: theme('colors.neutral.100');
    --color-search-marketplace: theme('colors.neutral.700');
    --fondo-button-search-marketplace: theme('colors.next.900');
    --color-button-search-marketplace: theme('colors.neutral.100');
    --ring-button-search-marketplace: theme('colors.neutral.500');

    --fondo-badge-marketplace: theme('colors.gray.200');
    --color-badge-marketplace: theme('colors.neutral.700');

    --fondo-logo-asus: theme('colors.white');
    --color-logo-asus: theme('colors.neutral.900');

    --color-logo-brother: theme('colors.blue.600');
    --color-logo-lenovo: theme('colors.red.500');
}

.theme-dark {
    --body: theme('colors.neutral.950');
    --icon-menu: theme('colors.white');

    --fondo-link-nav: theme('colors.neutral.950');
    --color-link-nav: theme('colors.neutral.200');
    --hover-link-nav: theme('colors.neutral.700');
    --hover-color-link-nav: theme('colors.white');
    --ring-link-nav: theme('colors.gray.500');

    --color-primary: theme('colors.gray.600');
}

/* .dark .soft-scrollbar::-webkit-scrollbar-track {
     @apply bg-[#475569] cursor-pointer;
 }
 
 .dark .soft-scrollbar::-webkit-scrollbar-thumb {
     @apply bg-[#334155] cursor-pointer;
 } */

.soft-scrollbar::-webkit-scrollbar {
    @apply rounded w-[6px] h-[6px] cursor-pointer;
}

.soft-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#e2e8f0] rounded cursor-pointer;
}

.soft-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] rounded cursor-pointer;
}

.loading-overlay {
    @apply top-0 left-0 z-50 fixed flex flex-col justify-center items-center bg-fondoloading opacity-60 w-full h-full;

    /* background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999; */
}

.btn-combos {
    @apply flex justify-center items-center gap-3 hover:bg-fondohoverbutton shadow shadow-shadowminicard p-2.5 ring-borderminicard rounded-lg ring-1 text-[10px] text-colorsubtitleform hover:text-colorhoverbutton transition duration-150 ease-in-out;
}
.btn-combos:hover svg {
    @apply !text-colorhoverbutton;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
    @apply text-fondobutton;
}

#form-configuracion input {
    @apply p-2 rounded-lg text-colorsubtitleform tracking-[0.0625em];
}

#form-configuracion .input-text {
    @apply p-2 rounded-lg text-colorsubtitleform tracking-[0.0625em];
}

#form-configuracion .select2.select2-container .select2-selection {
    @apply p-2 rounded-lg;
}

#form-configuracion
    .select2.select2-container
    .select2-selection
    .select2-selection__rendered {
    @apply !leading-normal;
}

#form-configuracion .select2-container .select2-dropdown .select2-results ul,
#form-configuracion
    .select2.select2-container
    .select2-selection
    .select2-selection__rendered,
#form-configuracion
    .select2-container
    .select2-container
    .select2-dropdown
    .select2-search
    input {
    @apply text-colorsubtitleform;
}

#form-configuracion input[type='checkbox']:checked,
#form-configuracion input[type='radio']:checked {
    @apply text-fondobutton;
}

.btn-desvincular {
    @apply top-0 right-0 absolute !bg-transparent !px-2 h-full !text-red-500;
}

.btn-desvincular:hover {
    @apply !ring-0 animate-none;
}

.btn-desvincular:focus {
    @apply bg-transparent ring-0;
}

.jetstream-modal {
    @apply flex flex-col justify-center items-center;
}

input[type='number'].input-number-none::-webkit-inner-spin-button,
input[type='number'].input-number-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'].input-number-none {
    -moz-appearance: textfield;
}

.theme-active {
    @apply !bg-fondobuttontheme !text-colorbuttontheme;
}

.text-last-center {
    text-align-last: center;
}

.btn-outline-secondary {
    @apply disabled:opacity-25 p-2.5 rounded-lg ring-1 ring-red-500 font-medium text-red-500 text-xs tracking-widest;
}

/* 20600129997 */

/* .label-checkbox input[type="checkbox"]{
    @apply hidden;
} */

/* .label-checkbox::before {
    content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
	background: #fff;
} */
.favorito {
    @apply bg-white disabled:opacity-25 p-1 rounded-xl text-red-600 transition-all duration-150 ease-in-out;
}

.favorito:hover {
    @apply animate-pulse;
}

.favorito.activo {
    background: rgb(255, 20, 20);
    background: linear-gradient(
        180deg,
        rgba(255, 20, 20, 1) 30%,
        rgba(156, 20, 0, 1) 100%
    );
    color: white;
}

.favorito.activo:hover {
    @apply animate-none;
}

.span-novedad {
    @apply bg-gradient-to-tr from-amber-300 to-orange-600 p-1 px-1.5 rounded-lg sm:rounded-xl font-medium text-[10px] text-white tracking-widest transition duration-150 ease-in-out;
}

.lista-requisitos-asus {
    counter-reset: custom;
}

.lista-requisitos-asus li {
    counter-increment: step-counter;
    @apply relative mb-2 pl-10 md:pl-16;
}

.lista-requisitos-asus li::before {
    content: counter(step-counter);
    @apply top-0 left-0 absolute flex justify-center items-center bg-fondospancardproduct p-2 px-3 md:px-4 rounded-lg md:rounded-xl font-semibold text-colorlabel text-xl sm:text-2xl md:text-3xl xl:text-5xl !leading-none;
}

.titulo-requerimiento-centro-autorizado {
    @apply py-3 sm:py-5 md:py-8 font-semibold text-sm sm:text-lg lg:text-2xl text-center !leading-none;
}

.button-export-pdf {
    @apply !bg-red-800 hover:!bg-red-900 focus:!bg-red-900 hover:!ring-red-200 focus:!ring-red-200;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.skeleton-box {
    position: relative;
    overflow: hidden;
}

.skeleton-box::after {
    @apply top-0 right-0 bottom-0 left-0 absolute rounded-lg;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgba(255, 255, 255, 0)),
        color-stop(20%, rgba(255, 255, 255, 0.2)),
        color-stop(60%, rgba(255, 255, 255, 0.5)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    -webkit-animation: shimmer 3s infinite;
    animation: shimmer 3s infinite;
    content: '';
}

@-webkit-keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/* ANIMATIONS LOADING IMAGE */
.pl1,
.pl2,
.pl3 {
    display: block;
    width: 8em;
    height: 8em;
}
.pl1__g,
.pl1__rect,
.pl2__rect,
.pl2__rect-g,
.pl3__rect {
    animation: pl1-a 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
.pl1__g {
    transform-origin: 64px 64px;
}
.pl1__rect:first-child {
    animation-name: pl1-b;
}
.pl1__rect:nth-child(2) {
    animation-name: pl1-c;
}
.pl2__rect,
.pl2__rect-g {
    animation-name: pl2-a;
}
.pl2__rect {
    animation-name: pl2-b;
}
.pl2__rect-g .pl2__rect {
    transform-origin: 20px 128px;
}
.pl2__rect-g:first-child,
.pl2__rect-g:first-child .pl2__rect {
    animation-delay: -0.25s;
}
.pl2__rect-g:nth-child(2),
.pl2__rect-g:nth-child(2) .pl2__rect {
    animation-delay: -0.125s;
}
.pl2__rect-g:nth-child(2) .pl2__rect {
    transform-origin: 64px 128px;
}
.pl2__rect-g:nth-child(3) .pl2__rect {
    transform-origin: 108px 128px;
}
.pl3__rect {
    animation-name: pl3;
}
.pl3__rect-g {
    transform-origin: 64px 64px;
}

/* Animations */
@keyframes pl1-a {
    from {
        transform: rotate(0);
    }
    80%,
    to {
        animation-timing-function: steps(1, start);
        transform: rotate(90deg);
    }
}
@keyframes pl1-b {
    from {
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
        width: 40px;
        height: 40px;
    }
    20% {
        animation-timing-function: steps(1, start);
        width: 40px;
        height: 0;
    }
    60% {
        animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
        width: 0;
        height: 40px;
    }
    80%,
    to {
        width: 40px;
        height: 40px;
    }
}
@keyframes pl1-c {
    from {
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
        width: 40px;
        height: 40px;
        transform: translate(0, 48px);
    }
    20% {
        animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
        width: 40px;
        height: 88px;
        transform: translate(0, 0);
    }
    40% {
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
        width: 40px;
        height: 40px;
        transform: translate(0, 0);
    }
    60% {
        animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
        width: 88px;
        height: 40px;
        transform: translate(0, 0);
    }
    80%,
    to {
        width: 40px;
        height: 40px;
        transform: translate(48px, 0);
    }
}
@keyframes pl2-a {
    from,
    25%,
    66.67%,
    to {
        transform: translateY(0);
    }
    50% {
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
        transform: translateY(-80px);
    }
}
@keyframes pl2-b {
    from,
    to {
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
        width: 40px;
        height: 24px;
        transform: rotate(180deg) translateX(0);
    }
    33.33% {
        animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
        width: 20px;
        height: 64px;
        transform: rotate(180deg) translateX(10px);
    }
    66.67% {
        animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
        width: 28px;
        height: 44px;
        transform: rotate(180deg) translateX(6px);
    }
}
@keyframes pl3 {
    from {
        transform: translate(64px, 0);
        width: 64px;
        height: 64px;
    }
    25% {
        transform: translate(0, 0);
        width: 128px;
        height: 32px;
    }
    50% {
        transform: translate(0, 0);
        width: 64px;
        height: 64px;
    }
    75% {
        transform: translate(0, 0);
        width: 32px;
        height: 128px;
    }
    to {
        transform: translate(0, 64px);
        width: 64px;
        height: 64px;
    }
}
