.theme-light {
    --body: theme("colors.gray.100");
    --icon-menu: theme("colors.gray.800");

    --fondo-link-nav: theme("colors.gray.100");
    --color-link-nav: theme("colors.gray.800");
    --hover-link-nav: theme("colors.slate.300");
    --hover-color-link-nav: theme("colors.gray.900");
    --ring-link-nav: theme("colors.gray.300");

    --color-primary: theme("colors.gray.600");
}

.theme-next {
    --body: theme("colors.white");
    --sidebar: theme("colors.next.100");
    --icon-menu: theme("colors.next.500");

    --fondo-link-nav: theme("colors.next.100");
    --color-link-nav: theme("colors.next.500");
    --hover-link-nav: theme("colors.next.500");
    --hover-color-link-nav: theme("colors.white");
    --ring-link-nav: theme("colors.next.300");

    --fondo-dropdown: theme("colors.white");
    --color-dropdown: theme("colors.next.500");
    --color-primary: theme("colors.next.600");

    --color-title: theme("colors.next.400");

    --fondo-minicard: theme("colors.transparent");
    --color-minicard: theme("colors.next.500");
    --shadow-minicard: theme("colors.gray.300");
    --border-minicard: theme("colors.gray.300");

    --fondo-titlecardnext: theme("colors.next.500");
    --color-titlecardnext: theme("colors.white");
    --text-cardnext: theme("colors.gray.800");

    --text-cardproduct: theme("colors.gray.800");
    --fondo-spancardproduct: theme("colors.gray.200");
    --text-spancardproduct: theme("colors.gray.800");


    --fondo-header-modal: theme("colors.next.600");
    --color-header-modal: theme("colors.white");

    --shadow-select2: theme("colors.gray.300");
    --fondo-select2: theme("colors.white");
    --color-select2: theme("colors.next.500");

    --text-header-table: theme("colors.neutral.100");
    --fondo-header-table: theme("colors.next.500");
    --text-body-table: theme("colors.neutral.700");
    --fondo-body-table: theme("colors.transparent");
    --divide-table: theme("colors.next.300");
    --text-span-table: theme("colors.white");
    --fondo-span-table: theme("colors.next.500");
    --link-table: theme("colors.next.500");
    --hover-link-table: theme("colors.next.700");

    --fondo-input-disabled: theme("colors.gray.100");
    --color-input-disabled: theme("colors.next.500");

    --color-error: theme("colors.red.600");

}

.theme-darknext {
    --body: theme("colors.neutral.700");
    --sidebar: theme("colors.neutral.950");
    --icon-menu: theme("colors.next.500");

    --fondo-link-nav: theme("colors.neutral.950");
    --color-link-nav: theme("colors.next.500");
    --hover-link-nav: theme("colors.next.500");
    --hover-color-link-nav: theme("colors.white");
    --ring-link-nav: theme("colors.next.300");

    --fondo-dropdown: theme("colors.neutral.600");
    --color-dropdown: theme("colors.white");
    --color-primary: theme("colors.next.600");

    --color-title: theme("colors.next.400");

    --fondo-minicard: theme("colors.neutral.600");
    --color-minicard: theme("colors.white");
    --shadow-minicard: theme("colors.neutral.500");
    --border-minicard: theme("colors.neutral.500");

    --fondo-titlecardnext: theme("colors.next.500");
    --color-titlecardnext: theme("colors.white");
    --text-cardnext: theme("colors.next.400");

    --text-cardproduct: theme("colors.next.400");
    --fondo-spancardproduct: theme("colors.neutral.500");
    --text-spancardproduct: theme("colors.white");

    --fondo-header-modal: theme("colors.next.500");
    --color-header-modal: theme("colors.white");

    --shadow-select2: theme("colors.neutral.500");
    --fondo-select2: theme("colors.neutral.500");
    --color-select2: theme("colors.white");

    --text-header-table: theme("colors.neutral.100");
    --fondo-header-table: theme("colors.neutral.500");
    --text-body-table: theme("colors.white");
    --fondo-body-table: theme("colors.transparent");
    --divide-table: theme("colors.neutral.300");
    --text-span-table: theme("colors.white");
    --fondo-span-table: theme("colors.next.500");
    --link-table: theme("colors.next.500");
    --hover-link-table: theme("colors.next.700");

    --fondo-input-disabled: theme("colors.neutral.500");
    --color-input-disabled: theme("colors.next.500");

    --color-error: theme("colors.red.400");
}

.theme-dark {
    --body: theme("colors.neutral.950");
    --icon-menu: theme("colors.white");

    --fondo-link-nav: theme("colors.neutral.950");
    --color-link-nav: theme("colors.neutral.200");
    --hover-link-nav: theme("colors.neutral.700");
    --hover-color-link-nav: theme("colors.white");
    --ring-link-nav: theme("colors.gray.500");


    --color-primary: theme("colors.gray.600")
}


/* .dark .soft-scrollbar::-webkit-scrollbar-track {
     @apply bg-[#475569] cursor-pointer;
 }
 
 .dark .soft-scrollbar::-webkit-scrollbar-thumb {
     @apply bg-[#334155] cursor-pointer;
 } */




.ck-content .table {
    width: auto;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}