.theme-light {
    --body: theme("colors.gray.100");
    --icon-menu: theme("colors.gray.800");

    --fondo-link-nav: theme("colors.gray.100");
    --color-link-nav: theme("colors.gray.800");
    --hover-link-nav: theme("colors.slate.300");
    --hover-color-link-nav: theme("colors.gray.900");
    --ring-link-nav: theme("colors.gray.300");

    --color-primary: theme("colors.gray.600");

    --color-button-theme: theme("colors.white");
    --fondo-button-theme: theme("colors.next.500");
}

.theme-next {
    --body: theme("colors.gray.50");
    --sidebar: theme("colors.next.100");
    --icon-menu: theme("colors.next.500");

    --color-label: theme("colors.neutral.700");
    --color-input: theme("colors.neutral.500");

    --fondo-link-nav: theme("colors.next.100");
    --color-link-nav: theme("colors.next.500");
    --hover-link-nav: theme("colors.next.500");
    --hover-color-link-nav: theme("colors.white");
    --ring-link-nav: theme("colors.next.300");

    --fondo-dropdown: theme("colors.white");
    --color-dropdown: theme("colors.next.500");
    --fondo-hover-dropdown: theme("colors.neutral.200");
    --texto-hover-dropdown: theme("colors.next.600");

    --color-primary: theme("colors.next.600");
    --color-title: theme("colors.next.400");

    --color-button-close: theme("colors.white");
    --fondo-button-close: theme("colors.next.500");
    --color-hover-button-close: theme("colors.white");
    --fondo-hover-button-close: theme("colors.next.700");
    --ring-button-close: theme("colors.next.300");

    --color-button: theme("colors.white");
    --fondo-button: theme("colors.next.500");
    --color-hover-button: theme("colors.white");
    --fondo-hover-button: theme("colors.next.700");
    --ring-button: theme("colors.next.300");

    --color-button-theme: theme("colors.next.700");
    --fondo-button-theme: theme("colors.gray.100");

    --fondo-minicard: theme("colors.white");
    --color-minicard: theme("colors.next.500");
    --shadow-minicard: theme("colors.gray.300");
    --border-minicard: theme("colors.gray.300");

    --fondo-titlecardnext: theme("colors.next.500");
    --color-titlecardnext: theme("colors.white");
    --text-cardnext: theme("colors.gray.800");

    --text-cardproduct: theme("colors.gray.800");
    --fondo-spancardproduct: theme("colors.gray.200");
    --text-spancardproduct: theme("colors.gray.800");


    --fondo-header-modal: theme("colors.next.600");
    --color-header-modal: theme("colors.next.800");
    --fondo-body-modal: theme("colors.white");

    --fondo-select2: theme("colors.white");
    --color-select2: theme("colors.gray.500");
    --fondo-hover-select2: theme("colors.gray.100");
    --color-hover-select2: theme("colors.gray.500");
    --color-active-select2: theme("colors.white");
    --fondo-active-select2: theme("colors.next.500");
    --shadow-select2: theme("colors.gray.300");

    --text-header-table: theme("colors.neutral.100");
    --fondo-header-table: theme("colors.next.500");
    --text-body-table: theme("colors.neutral.700");
    --fondo-body-table: theme("colors.transparent");
    --text-hover-table: theme("colors.next.500");
    --fondo-hover-table: theme("colors.neutral.200");
    --divide-table: theme("colors.neutral.200");
    --text-span-table: theme("colors.white");
    --fondo-span-table: theme("colors.next.500");
    --link-table: theme("colors.next.500");
    --hover-link-table: theme("colors.next.700");

    --fondo-input-disabled: theme("colors.gray.100");
    --color-input-disabled: theme("colors.next.500");

    --color-error: theme("colors.red.600");

    --fondo-pagination: theme("colors.transparent");
    --color-pagination: theme("colors.next.500");
    --fondo-active-pagination: theme("colors.next.500");
    --color-active-pagination: theme("colors.white");
    --shadow-pagination: theme("colors.next.200");

    --fondo-loading: theme("colors.gray.200");
    --color-loading: theme("colors.next.500");

    --fondo-form: theme("colors.gray.100");
    --color-title-form: theme("colors.next.500");
    --color-subtitle-form: theme("colors.gray.500");
    --shadow-form: theme("colors.gray.200");


    --fondo-footer: theme("colors.next.700");
    --color-link-footer: theme("colors.white");
    --hover-link-footer: theme("colors.neutral.200");

    --color-button-print: theme("colors.neutral.800");
    --fondo-button-print: theme("colors.transparent");
    --color-hover-button-print: theme("colors.white");
    --fondo-hover-button-print: theme("colors.neutral.900");
    --ring-button-print: theme("colors.neutral.300");
}

.theme-darknext {
    --body: theme("colors.neutral.700");
    --sidebar: theme("colors.neutral.800");
    --icon-menu: theme("colors.next.500");

    --color-label: theme("colors.white");
    --color-input: theme("colors.neutral.100");

    --fondo-link-nav: theme("colors.neutral.950");
    --color-link-nav: theme("colors.next.500");
    --hover-link-nav: theme("colors.next.500");
    --hover-color-link-nav: theme("colors.white");
    --ring-link-nav: theme("colors.next.300");

    --fondo-dropdown: theme("colors.neutral.600");
    --color-dropdown: theme("colors.white");
    --fondo-hover-dropdown: theme("colors.neutral.500");
    --texto-hover-dropdown: theme("colors.white");

    --color-primary: theme("colors.next.600");
    --color-title: theme("colors.next.400");

    --color-button-close: theme("colors.white");
    --fondo-button-close: theme("colors.transparent");
    --color-hover-button-close: theme("colors.white");
    --fondo-hover-button-close: theme("colors.neutral.600");
    --ring-button-close: theme("colors.neutral.600");

    --color-button: theme("colors.white");
    --fondo-button: theme("colors.next.500");
    --color-hover-button: theme("colors.white");
    --fondo-hover-button: theme("colors.next.700");
    --ring-button: theme("colors.next.300");

    --color-button-theme: theme("colors.white");
    --fondo-button-theme: theme("colors.neutral.900");

    --fondo-minicard: theme("colors.neutral.600");
    --color-minicard: theme("colors.white");
    --shadow-minicard: theme("colors.neutral.500");
    --border-minicard: theme("colors.neutral.500");

    --fondo-titlecardnext: theme("colors.next.500");
    --color-titlecardnext: theme("colors.white");
    --text-cardnext: theme("colors.next.400");

    --text-cardproduct: theme("colors.next.400");
    --fondo-spancardproduct: theme("colors.neutral.500");
    --text-spancardproduct: theme("colors.white");

    --fondo-header-modal: theme("colors.neutral.700");
    --color-header-modal: theme("colors.white");
    --fondo-body-modal: theme("colors.neutral.600");

    --fondo-select2: theme("colors.neutral.700");
    --color-select2: theme("colors.white");
    --fondo-hover-select2: theme("colors.neutral.500");
    --color-hover-select2: theme("colors.white");
    --color-active-select2: theme("colors.white");
    --fondo-active-select2: theme("colors.next.500");
    --shadow-select2: theme("colors.neutral.950");
    --color-subtitle-select2: theme("colors.neutral.400");
    --color-active-subtitle-select2: theme("colors.neutral.100");

    --text-header-table: theme("colors.neutral.100");
    --fondo-header-table: theme("colors.neutral.500");
    --text-body-table: theme("colors.white");
    --fondo-body-table: theme("colors.transparent");
    --text-hover-table: theme("colors.white");
    --fondo-hover-table: theme("colors.neutral.500");
    --divide-table: theme("colors.neutral.500");
    --text-span-table: theme("colors.white");
    --fondo-span-table: theme("colors.next.500");
    --link-table: theme("colors.next.500");
    --hover-link-table: theme("colors.next.700");

    --fondo-input-disabled: theme("colors.neutral.500");
    --color-input-disabled: theme("colors.next.500");

    --color-error: theme("colors.red.600");

    --fondo-pagination: theme("colors.neutral.500");
    --color-pagination: theme("colors.white");
    --fondo-active-pagination: theme("colors.next.500");
    --color-active-pagination: theme("colors.white");
    --shadow-pagination: theme("colors.neutral.700");

    --fondo-loading: theme("colors.neutral.600");
    --color-loading: theme("colors.next.500");

    --fondo-form: theme("colors.neutral.600");
    --color-title-form: theme("colors.white");
    --color-subtitle-form: theme("colors.neutral.300");
    --shadow-form: theme("colors.neutral.500");


    --fondo-footer: theme("colors.next.700");
    --color-link-footer: theme("colors.white");
    --hover-link-footer: theme("colors.neutral.200");

    --color-button-print: theme("colors.white");
    --fondo-button-print: theme("colors.transparent");
    --color-hover-button-print: theme("colors.white");
    --fondo-hover-button-print: theme("colors.neutral.900");
    --ring-button-print: theme("colors.neutral.500");
}

.theme-dark {
    --body: theme("colors.neutral.950");
    --icon-menu: theme("colors.white");

    --fondo-link-nav: theme("colors.neutral.950");
    --color-link-nav: theme("colors.neutral.200");
    --hover-link-nav: theme("colors.neutral.700");
    --hover-color-link-nav: theme("colors.white");
    --ring-link-nav: theme("colors.gray.500");


    --color-primary: theme("colors.gray.600")
}


/* .dark .soft-scrollbar::-webkit-scrollbar-track {
     @apply bg-[#475569] cursor-pointer;
 }
 
 .dark .soft-scrollbar::-webkit-scrollbar-thumb {
     @apply bg-[#334155] cursor-pointer;
 } */


.soft-scrollbar::-webkit-scrollbar {
    @apply cursor-pointer h-[6px] w-[6px] rounded;
}

.soft-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#e2e8f0] cursor-pointer rounded;
}

.soft-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] cursor-pointer rounded;
}


.loading-overlay {
    @apply absolute top-0 left-0 w-full h-full bg-fondoloading opacity-60 flex flex-wrap justify-center items-center z-50;

    /* background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999; */
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    @apply text-fondobutton;
}

#form-configuracion input {
    @apply rounded-lg p-2 text-colorsubtitleform tracking-[0.0625em];
}

#form-configuracion .input-text {
    @apply rounded-lg p-2 text-colorsubtitleform tracking-[0.0625em];
}

#form-configuracion .select2.select2-container .select2-selection {
    @apply rounded-lg p-2;
}

#form-configuracion .select2.select2-container .select2-selection .select2-selection__rendered {
    @apply !leading-normal;
}

#form-configuracion .select2-container .select2-dropdown .select2-results ul,
#form-configuracion .select2.select2-container .select2-selection .select2-selection__rendered,
#form-configuracion .select2-container .select2-container .select2-dropdown .select2-search input {
    @apply text-colorsubtitleform;
}

#form-configuracion input[type="checkbox"]:checked,
#form-configuracion input[type="radio"]:checked {
    @apply text-fondobutton;
}


.btn-desvincular {
    @apply h-full !text-red-500 !bg-transparent absolute right-0 top-0 !px-2;
}

.btn-desvincular:hover {
    @apply animate-none !ring-0;
}

.btn-desvincular:focus {
    @apply bg-transparent ring-0;
}

.jetstream-modal {
    @apply flex flex-col items-center justify-center;
}


input[type=number].input-number-none::-webkit-inner-spin-button,
input[type=number].input-number-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].input-number-none {
    -moz-appearance: textfield;
}


.theme-active {
    @apply !bg-fondobuttontheme !text-colorbuttontheme;
}

/* 20600129997 */

/* .label-checkbox input[type="checkbox"]{
    @apply hidden;
} */

/* .label-checkbox::before {
    content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
	background: #fff;
} */


.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}