.highlight {
    @apply font-semibold text-next-500 hover:text-texthoverselect2;
}

.contenedor {
    /* box-shadow: 0 0 0 1px #202020; */
    @apply mx-auto px-1 xl:px-0 w-full max-w-[1280px];
}

.header-marketplace {
    @apply top-0 left-0 z-[101] fixed flex xl:flex-row flex-col flex-nowrap bg-fondoheadermarketplace m-auto w-full xl:h-24 text-colorheadermarketplace;
    /* background-color: transparent;
    background-image: linear-gradient(220deg, #0ecfcf 0%, #0ecfcf 100%); */
    /* bg-gradient-to-r from-next-400 to-next-900 */
}

#slider {
    @apply mt-[108px] xl:mt-24;
}

.content {
    @apply mt-[108px] xl:mt-24;
}

.sidebar-content-marketplace {
    @apply bg-fondoheadermarketplace h-[calc(100vh-108px)] xl:h-[calc(100vh-96px)];
}

.sidebar-productos {
    @apply top-[108px] xl:top-0 left-0 z-[101] xl:z-0 absolute xl:relative flex-shrink-0 bg-body w-full max-w-[80%] xs:max-w-72 xl:max-w-72 h-[calc(100vh-108px)];
}

/* .sidebar-productos {
    @apply top-[108px] xl:top-24 left-0 fixed flex-shrink-0 bg-body w-full max-w-[80%] xs:max-w-72 h-[calc(100vh-108px)] xl:h-[calc(100vh-96px)];
} */

.nav-marketplace {
    @apply flex flex-wrap justify-center px-5 divide-x-2 divide-colorlinkfooter w-full font-semibold text-colorlinkfooter;
}

.nav-marketplace>li>a {
    @apply inline-block relative px-5 py-1 rounded hover:text-hoverlinkfooter text-sm tracking-wide transition duration-300;
}

.nav-marketplace li:not(:first-child):not(:last-child) {
    /* @apply text-next-500; */
}

.nav-marketplace li:not(:first-child):not(:last-child) a:before,
.nav-marketplace li:not(:first-child):not(:last-child) a:after {
    /* @apply top-[50%] absolute bg-colorhoverlinknavmarketplace w-[2px] h-4;
    content: '';
    transform: translateY(-50%); */
}

.title-content {
    @apply p-5 font-semibold text-hoverlinkfooter text-3xl text-center tracking-widest;
}

.btn-next {
    /* w-[calc(80px+5.5vmin)] */
    @apply block z-0 relative disabled:opacity-70 max-w-full h-[calc(30px+2.5vmin)] xs:h-[calc(25px+2.5vmin)] md:h-[calc(20px+2.5vmin)] font-semibold text-[10px] text-white tracking-widest;
}

.btn-next:before {
    box-shadow: 0px 0px 0px 2px theme('colors.next.500') inset;
    @apply block top-0 left-0 absolute rounded-[5px] sm:rounded-[8px] w-full h-full content-[''] skew-x-[12deg] sm:skew-x-[15deg] transition-colors -translate-x-[4px] translate-y-[4px] sm:-translate-x-[6px] sm:translate-y-[6px] duration-300 ease-in-out;
}

.btn-next .btn-effect {
    @apply flex justify-center items-center bg-next-500 rounded-[5px] sm:rounded-[8px] w-full h-full overflow-hidden uppercase skew-x-[12deg] sm:skew-x-[15deg] transition-transform duration-300 ease-in-out;
}

.btn-next .btn-effect span {
    @apply px-3 sm:px-4 -skew-x-[15deg];
}

.btn-next:not(:disabled):hover .btn-effect {
    @apply bg-white border border-next-500 text-next-500 skew-x-[15deg] sm:-translate-x-[3px] sm:translate-y-[3px];
}

.btn-next:not(:disabled):hover.btn-next:before {
    @apply bg-next-500;
}

.btn-next.btn-white {
    @apply text-next-500;
}

.btn-next.btn-white .btn-effect,
.btn-next.btn-white:hover.btn-white:before {
    @apply bg-white;
}

.btn-next.btn-white:hover .btn-effect {
    @apply bg-next-500 border-white text-white;
}

.btn-next.btn-white:before {
    box-shadow: 0px 0px 0px 2px theme('colors.white') inset;
}

/* HOVER TRANSPARENT BUTTON */
.btn-hover-transparent:hover .btn-effect {
    @apply !bg-white !text-next-800;
}

.btn-hover-transparent .btn-effect,
.btn-next.btn-hover-transparent:hover.btn-hover-transparent:before {
    @apply bg-next-800;
}

.card-similares,
.card-sugerencias {
    @apply rounded-xl xs:rounded-none;
}

.card-not-unknown::before,
.card-recents::before,
.card-similares::before,
.card-sugerencias::before {
    /* @apply block top-[50%] left-0 z-10 absolute xs:bg-borderminicard xs:w-[0.25px] h-[70%] content-[''] -translate-y-[50%]; */
}

.card-not-unknown::before:first-child,
.card-recents::before:first-child,
.card-similares::before:first-child,
.card-sugerencias::before:first-child {
    @apply w-0;
}

.icon-button-menu {
    @apply top-[50%] left-[50%] absolute bg-colorheadermarketplace w-10 h-[5px] content-[''] transition-transform -translate-x-[50%] duration-200 ease-out;
}

.icon-button-menu::after {
    @apply block -bottom-4 left-0 absolute bg-colorheadermarketplace w-10 h-[5px] content-[''] transition-transform duration-200 ease-out;
}

.icon-button-menu::before {
    @apply block -top-[17px] left-0 absolute bg-colorheadermarketplace w-10 h-[5px] content-[''] transition-transform duration-200 ease-out;
}

.button-sidebar {
    @apply relative flex justify-start items-center hover:opacity-80 rounded-sm w-auto max-w-40 h-12 text-colorheadermarketplace transition duration-150 ease-in-out;
}

.button-sidebar.open {
    @apply opacity-90;
}

.button-sidebar.open .icon-button-menu {
    @apply rotate-45;
}

.button-sidebar.open .icon-button-menu::before {
    transform: translate3d(0, 10px, 0) rotate(-45deg);
    @apply opacity-0;
}

.button-sidebar.open .icon-button-menu::after {
    transform: translate3d(0, -16px, 0) rotate(90deg);
}

.carousel-item {
    @apply top-0 float-left absolute opacity-0 -mr-[100%] w-full h-full transition-opacity duration-700 ease-in-out;
}

/* .carousel-item.activo, */
.carousel-item-next,
.carousel-item-prev {
    @apply block z-50;
}

.carousel-item.activo {
    /* left: 0; */
    opacity: 1;
    /* transform: translateX(0); */
}

.footer-marketplace {
    @apply bg-fondofooter text-[10px] text-colorlinkfooter lg:text-xs;
}

.footer-marketplace .list-footer-marketplace {
    @apply block w-full;
}

.footer-marketplace .list-footer-marketplace .item-footer-marketplace {
    @apply block w-full;
}

.footer-marketplace .list-footer-marketplace .item-footer-marketplace .item-link-footer {
    @apply block p-1.5 font-light text-xs sm:text-sm text-center transition duration-300;
}

.footer-marketplace .list-footer-marketplace .item-footer-marketplace .item-link-footer,
.footer-social .social-footer {
    @apply p-1 w-full hover:text-hoverlinkfooter text-left tracking-wide transition duration-300;
}

.footer-social .social-footer {
    @apply block bg-white rounded-full w-8 sm:w-10 h-8 sm:h-10 transition-transform duration-300 ease-linear;
}

.footer-social .email {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .whatsapp {
    @apply !p-0 ring-[2px] ring-white text-fondofooter;
}

.footer-social .youtube {
    @apply !p-0 ring-[2px] ring-white text-fondofooter;
}

.footer-social .email:hover {
    @apply bg-red-700 text-white;
}

.footer-social .whatsapp:hover {
    @apply bg-green-500 text-white;
}

.footer-social .facebook {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .facebook:hover {
    @apply bg-blue-700 ring-white text-white;
}

.footer-social .youtube:hover {
    @apply bg-red-600 ring-white text-white;
}

.footer-social .instagram {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .instagram:hover {
    @apply bg-white text-white;
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
}

.footer-social .tiktok {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .tiktok:hover {
    @apply bg-neutral-900 text-white;
}

.footer-social .social-footer:hover {
    transform: rotate(360deg) scale(1.2);
}

/* START CARD 3D */
.flip3D {
    @apply relative rounded-3xl w-full xs:w-48 lg:w-[300px] h-60 lg:h-[400px] md:skew-x-[8deg];
    perspective: 900px;
}

.card {
    @apply absolute bg-cover bg-no-repeat bg-center shadow shadow-shadowminicard rounded-3xl w-full h-full transition-transform duration-700 ease-in-out;
    transform-style: preserve-3d;
}

.card.front {
    @apply flex justify-center items-center p-5;
    backface-visibility: visible;
}

.card.back {
    @apply p-2 text-center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.fondo {
    @apply block top-0 left-0 absolute bg-next-700 rounded-3xl w-full h-full overflow-hidden;
}

.fondo .fondo-img {
    @apply top-0 -left-[20%] absolute bg-cover bg-no-repeat bg-center opacity-90 saturate-100 w-[130%] h-full overflow-hidden md:-skew-x-[8deg];
}

.card .card-depth {
    transform: translateZ(70px);
    backface-visibility: hidden;
}

.card .title-card-front,
.card .title-card-back {
    @apply block relative rounded font-semibold text-lg lg:text-4xl tracking-widest md:-skew-x-[8deg];
}

.card.back .card-depth {
    @apply flex flex-col justify-center gap-3 h-full;
}

.card .title-card-front {
    @apply px-4 py-2 text-white;
}

.card .title-card-front::before {
    @apply top-[50%] left-[50%] -z-[1] absolute bg-next-500 rounded-md w-full h-full content-[''] md:skew-x-6 -translate-x-[50%] -translate-y-[50%];
}

.back .fondo .fondo-img::before {
    @apply top-0 left-0 absolute bg-black bg-opacity-70 rounded-xl w-full h-full content-[''];
}

.card .title-card-back {
    @apply p-1 pt-5 text-next-500 text-2xl;
}

.card .texto-card-back {
    @apply block p-3 px-5 max-w-xs font-light text-white text-xs lg:text-lg text-center !leading-none md:-skew-x-[8deg];
}

.flip3D:hover>.front {
    transform: rotateY(-180deg);
}

.flip3D:hover>.card.back {
    transform: rotateY(0deg);
}

/* END CARD 3d */

/* START SLIDER SERVICIOS */

.next-wow {
    @apply p-3 sm:p-5 border rounded-lg sm:rounded-3xl text-center;

    box-shadow: 8px 5px 0px 0px #ccc;
}

.next-wow .icono {
    @apply text-primary text-center;
}

.next-wow .titulo {
    @apply pb-3 font-semibold text-next-500 text-lg text-center;
}

.next-wow .texto {
    @apply font-normal text-colorsubtitleform text-sm text-center leading-6;
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

/* END SLIDER SERVICIOS */

.indicador-slider {
    @apply block flex-shrink-0 bg-neutral-200 opacity-100 rounded-full w-2.5 h-2.5 transition-all duration-300 ease-out cursor-pointer;
}

.indicador-slider.activo {
    @apply bg-next-500 scale-150;
}

.carousel-item-link {
    @apply z-[1] absolute flex w-full h-full;
}

.carousel-item-link a {
    @apply w-full h-full;
}

* {
    flex: 0 0 auto;
}

.carrusel-item {
    @apply invisible top-0 left-0 absolute lg:flex lg:justify-end opacity-0 w-full;
}

.carrusel-item {
    transition-property: visibility, opacity;
    @apply h-full transition duration-[1s];
}

.carrusel-item.activo {
    @apply visible z-[1] relative opacity-100;
}

.carrusel-item div {
    @apply w-full lg:w-[130%] h-full lg:overflow-hidden lg:-skew-x-[20deg];
    transform-origin: center bottom;
}

.carrusel-item.activo div {
    animation: _banner 1s forwards;
}

@keyframes _banner {
    0% {
        width: 0;
    }

    100% {
        width: 130%;
    }
}

.slider.desvanecer .carrusel-contenedor .carrusel-contenido ul.carrusel-lista .carousel-item {
    height: 100%;
    transition: 1s;
    transition-property: opacity, visibility;
}

.slider.desvanecer ul.carrusel-lista .carousel-item.activo {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 1;
}

.dropdown-login::before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 9px 7px;
    content: '';
    height: 0;
    right: 68px;
    top: -7px;
    width: 0;
    position: absolute;
}

/* SIDEBAR MARKETPLACE */

.boxes-sidebar {
    @apply relative flex-1 w-full;
}

.item-sidebar {
    @apply relative;
}

.itemlink-sidebar-principal {
    @apply box-border flex justify-between items-center p-3 h-14 text-colorsubtitleform transition duration-150 ease-in-out cursor-pointer;
}

.title-category-sidebar {
    @apply flex flex-1 items-center gap-2 w-full font-medium text-inherit text-xs leading-4;
}

.item-sidebar:hover .itemlink-sidebar-principal,
.itemlink-sidebar-principal:hover {
    @apply relative bg-hoverlinknav rounded-md text-hovercolorlinknav;
}

.sale {
    @apply bg-primary mx-2.5 p-1 rounded-md text-[10px] text-white leading-3 tracking-wide;
}

.link-icon-down svg {
    @apply block flex-shrink-0 w-4 h-4 overflow-hidden text-colorlinknav align-middle;
}

.item-sidebar:hover .link-icon-down svg {
    @apply text-white;
}

.link-sidebar {
    @apply relative flex justify-between items-center px-3 py-4 overflow-hidden text-colorsubtitleform cursor-pointer;
}

.item-sidebar .menu-subcategories {
    @apply hidden relative w-full duration-300;
}

.item-sidebar .menu-subcategories .item-subcategory {
    @apply block hover:bg-fondohoverselect2 p-3 py-3.5 pl-5 rounded-md w-full text-textselect2 hover:text-texthoverselect2 text-xs whitespace-nowrap transition duration-150 ease-in-out;
}

.title-channel-sidebar {
    @apply transition duration-150 ease-in-out;
}

.title-channel-sidebar:before {
    @apply -bottom-1 left-[50%] absolute bg-hoverlinknav rounded-full w-[40%] h-[3px] content-[''] -translate-x-[50%];
}

/* @media (min-width: 640px) { 
    .item-sidebar:hover > .menu-subcategories {
        @apply top-0 left-0 relative flex;
    }
} */

/* END SIDEBAR */

/* BUTTON PERSONALIZADo */
.custom-btn {
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    transition: all 0.3s ease;
    @apply inline-block relative bg-transparent px-4 py-3 border-0 ring-0 text-next-500 text-xs cursor-pointer;
}

.custom-btn span {
    /* position: relative; */
    display: block;
    width: 100%;
    height: 100%;
}

.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    background: rgb(15, 185, 185);
    transition: all 0.3s ease;
}

.custom-btn:before {
    height: 0%;
    width: 2px;
}

.custom-btn:after {
    width: 0%;
    height: 2px;
}

.custom-btn:hover {
    color: rgb(15, 185, 185);
    background: transparent;
}

.custom-btn:hover:before {
    height: 100%;
}

.custom-btn:hover:after {
    width: 100%;
}

.custom-btn span:before,
.custom-btn span:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: rgb(15, 185, 185);
    transition: all 0.3s ease;
}

.custom-btn span:before {
    width: 2px;
    height: 0%;
}

.custom-btn span:after {
    height: 2px;
    width: 0%;
}

.custom-btn:hover.custom-btn span:before {
    height: 100%;
}

.custom-btn:hover.custom-btn span:after {
    width: 100%;
}

/* END BUTTTON PERSONALIZADO */

/* BTN INCREMENTAR CARRRITO */
.btn-increment-cart {
    @apply inline-flex justify-center items-center bg-fondobuttonincrement hover:bg-fondohoverbuttonincrement disabled:hover:bg-fondobuttonincrement disabled:opacity-25 p-2.5 pt-1.5 rounded-xl hover:ring-2 hover:ring-ringbuttonincrement disabled:ring-0 w-9 h-9 font-medium text-colorbuttonincrement hover:text-colorhoverbuttonincrement text-xl align-middle transition duration-150 ease-in-out;
}

.btn-increment-cart.disabled {
    @apply opacity-75 ring-0 hover:ring-0 text-colorhoverbuttonincrement;
}

/* END */

/* BADGE ESPECIFICACIONES */
.badge-especificacion {
    @apply bg-next-800 p-1 rounded-md max-w-36 font-medium text-[9px];
    box-shadow: 2px 2px 1px 1px #095555;
}

/* END */

/* MARQUEE */
.marquee-container {
    width: 200px;
    /* Adjust as needed */
    height: 700px;
    /* Adjust as needed */
    overflow: hidden;
    margin-right: 20px;
    margin-left: 10px;
}

.marquee-content {
    display: flex;
    flex-direction: column;
    animation: marquee 10s linear infinite;
}

.marquee-content img {
    margin-bottom: 20px;
    /* Adjust as needed */
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

@keyframes marquee {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.marquee-container2 {
    width: 200px;
    /* Adjust as needed */
    height: 700px;
    /* Adjust as needed */
    overflow: hidden;
    margin-right: 20px;
}

.marquee-content2 {
    display: flex;
    flex-direction: column-reverse;
    animation: marquee2 10s linear infinite;
}

.marquee-content2 img {
    margin-bottom: 20px;
    /* Adjust as needed */
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

@keyframes marquee2 {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.marquee-container3 {
    width: 100%;
    height: 150px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.marquee-content3 {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee3 20s infinite linear;
}

.marquee-content3 img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    padding: 5px;
}

@keyframes marquee3 {
    /* 0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    } */
}

/*Buttons Soluciones Integrales */
.button-tic {
    @apply flex flex-col justify-center items-center gap-1 p-2 xs:p-2 md:p-3 border border-borderminicard rounded-full size-[5.5rem] md:size-28 font-medium text-[8px] md:text-[10px] transition-colors duration-150 ease-in-out;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
}

.heading:after {
    display: block;
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
}

.card-solutions {
    @apply relative w-full cursor-pointer;
    perspective: 1000px;
}

.card-solutions img {
    @apply w-full h-full min-h-60 max-h-full object-center object-cover overflow-hidden;
}

.card-solutions .front-card-solutions,
.card-solutions .back-card-solutions,
.card-solutions img,
.card-solutions:before {
    @apply rounded-lg md:rounded-3xl;
}

.card-solutions .front-card-solutions,
.card-solutions .back-card-solutions {
    @apply top-0 left-0 absolute flex justify-center items-center content-center p-3 md:p-5 w-full max-w-full h-full;
    background-position: center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.card-solutions .front-card-solutions {
    width: 100%;
    background-size: cover;
    font-size: 1.618rem;
    font-weight: 500;
    overflow: hidden;
}

.card-solutions:hover .front-card-solutions {
    opacity: 0;
    /* background: rgba(255, 255, 255, 1); */
    transform: rotateY(180deg);
}

.card-solutions .back-card-solutions {
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    transform: rotateY(180deg);
}

.card-solutions:hover .back-card-solutions {
    transform: rotateY(0deg);
}

.card-solutions.security {
    position: relative;
}

.card-solutions.security:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg,
            rgba(255, 255, 255, 0.9) 15%,
            rgba(255, 255, 255, 0) 45%);
    background: -webkit-linear-gradient(0deg,
            rgba(255, 255, 255, 0.9) 15%,
            rgba(255, 255, 255, 0) 45%);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.9) 15%,
            rgba(255, 255, 255, 0) 45%);
}

.list-datacenter li {
    @apply space-y-5 leading-none;
}

.list-datacenter li::marker {
    /* font-size: 1.2rem; */
    font-weight: 700;
}

.grecaptcha-badge {
    visibility: hidden;
}

.btn-float-whatsapp {
    @apply right-3 md:right-5 bottom-3 md:bottom-5 z-[29] fixed flex justify-center items-center bg-[#25d366] p-6 md:p-8 rounded-full w-0 h-0 text-white;
    animation-name: pulsation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.paginator-marketplace-productos .text-descripcion-paginator {
    @apply text-center;
}

[x-cloak] {
    display: none !important;
}

.button-tab-network {
    @apply flex-1 p-3 sm:p-5 rounded-tl-2xl sm:rounded-tl-3xl rounded-br-2xl sm:rounded-br-3xl focus-visible:outline-none focus-visible:ring focus-visible:ring-next-300 font-semibold text-xs sm:text-xl lg:text-2xl leading-none whitespace-nowrap transition-colors duration-150 ease-in-out;
}

.card-network {
    @apply w-full flex flex-col gap-3 sm:gap-5 p-2 sm:p-3 rounded-xl sm:rounded-2xl bg-fondominicard hover:shadow-md hover:shadow-shadowminicard border border-borderminicard hover:border-primary transition ease-in-out duration-150
    /* bg-gradient-to-br from-next-800 to-next-400 */
    ;
}

.card-network .header-card-network,
.card-network .footer-card-network {
    @apply bg-fondominicard p-1 sm:p-3 w-full;
}

.card-network .header-card-network {
    @apply bg-primary rounded-xl sm:rounded-xl;
}

.card-network .header-card-network .title-header-card-network,
.card-network .footer-card-network .title-footer-card-network {
    @apply font-semibold text-primary text-sm sm:text-xl text-center sm:leading-none;
}

.card-network .header-card-network .title-header-card-network {
    @apply text-white;
}

.card-network .header-card-network .subtitle-header-card-network {
    @apply pt-1 font-medium text-[10px] text-neutral-100 sm:text-sm text-center !leading-none;
}

.card-network .footer-card-network {
    @apply border border-primary rounded-tl-xl sm:rounded-tl-2xl rounded-br-xl sm:rounded-br-2xl font-semibold;
}

.box-shadow {
    box-shadow: 0px 0px 5px var(--shadow-minicard);
}

/* .btn-float-whatsapp:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    padding: 25px;
    border: 5px solid #25d366;
    opacity: 0.75;
    animation-name: pulse-border;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
} */

@keyframes pulsation {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }

    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}

/* EBD MARQUEE */

.card-category-marketplace {
    @apply flex flex-col justify-center items-center self-center hover:shadow-md hover:shadow-primary p-2 md:p-3 ring-borderminicard rounded-full ring-1 hover:ring-primary w-full aspect-square transition duration-300 ease-in-out;
}

.card-category-marketplace:hover .image-category-marketplace {
    animation: bouncing 1s;
}

@keyframes bouncing {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1) translateY(-15px);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }

}