.highlight {
    @apply text-next-500 font-semibold hover:text-texthoverselect2;
}

.contenedor {
    /* box-shadow: 0 0 0 1px #202020; */
    @apply w-full px-1 xl:px-0 max-w-[1280px] mx-auto;
}

.header-marketplace {
    @apply xl:h-24 bg-fondoheadermarketplace text-colorheadermarketplace fixed top-0 left-0 z-[101] w-full flex flex-col xl:flex-row flex-nowrap m-auto;
    /* background-color: transparent;
    background-image: linear-gradient(220deg, #0ecfcf 0%, #0ecfcf 100%); */
    /* bg-gradient-to-r from-next-400 to-next-900 */
}

#slider {
    @apply mt-[108px] xl:mt-24;
}
.content {
    @apply mt-[108px] xl:mt-24;
}

.sidebar-content-marketplace {
    @apply h-[calc(100vh-108px)] xl:h-[calc(100vh-96px)] bg-fondoheadermarketplace;
}

.sidebar-productos {
    @apply w-full absolute z-[101] left-0 top-[108px] xl:top-0 h-[calc(100vh-108px)] xl:relative  xl:z-0 bg-body max-w-[80%] xs:max-w-72 xl:max-w-72 flex-shrink-0;
}

/* .sidebar-productos {
    @apply w-full fixed left-0 top-[108px] xl:top-24 h-[calc(100vh-108px)] xl:h-[calc(100vh-96px)] bg-body max-w-[80%] xs:max-w-72 flex-shrink-0 ;
} */

.nav-marketplace {
    @apply w-full flex flex-wrap justify-center divide-x-2 divide-colorlinkfooter px-5 text-colorlinkfooter font-semibold;
}

.nav-marketplace > li > a {
    @apply inline-block text-sm tracking-wide relative py-1 px-5 hover:text-hoverlinkfooter rounded transition duration-300;
}

.nav-marketplace li:not(:first-child):not(:last-child) {
    /* @apply text-next-500; */
}

.nav-marketplace li:not(:first-child):not(:last-child) a:before,
.nav-marketplace li:not(:first-child):not(:last-child) a:after {
    /* @apply w-[2px] h-4 absolute top-[50%] bg-colorhoverlinknavmarketplace;
    content: '';
    transform: translateY(-50%); */
}

.title-content {
    @apply text-hoverlinkfooter p-5 text-center font-semibold text-3xl tracking-widest;
}

.btn-next {
    /* w-[calc(80px+5.5vmin)] */
    @apply block text-[10px] text-white tracking-widest h-[calc(30px+2.5vmin)] xs:h-[calc(25px+2.5vmin)] md:h-[calc(20px+2.5vmin)] font-semibold relative z-0 max-w-full disabled:opacity-70;
}

.btn-next:before {
    box-shadow: 0px 0px 0px 2px theme("colors.next.500") inset;
    @apply content-[''] rounded-[5px] sm:rounded-[8px] absolute left-0 top-0 block w-full h-full skew-x-[12deg] sm:skew-x-[15deg] -translate-x-[4px] sm:-translate-x-[6px] translate-y-[4px] sm:translate-y-[6px] transition-colors ease-in-out duration-300;
}

.btn-next .btn-effect {
    @apply bg-next-500 uppercase rounded-[5px] sm:rounded-[8px] flex items-center justify-center w-full h-full overflow-hidden skew-x-[12deg] sm:skew-x-[15deg] transition-transform ease-in-out duration-300;
}

.btn-next .btn-effect span {
    @apply -skew-x-[15deg] px-3 sm:px-4;
}

.btn-next:not(:disabled):hover .btn-effect {
    @apply bg-white text-next-500 border border-next-500 skew-x-[15deg] sm:-translate-x-[3px] sm:translate-y-[3px];
}

.btn-next:not(:disabled):hover.btn-next:before {
    @apply bg-next-500;
}

.btn-next.btn-white {
    @apply text-next-500;
}

.btn-next.btn-white .btn-effect,
.btn-next.btn-white:hover.btn-white:before {
    @apply bg-white;
}

.btn-next.btn-white:hover .btn-effect {
    @apply bg-next-500 text-white border-white;
}

.btn-next.btn-white:before {
    box-shadow: 0px 0px 0px 2px theme("colors.white") inset;
}

/* HOVER TRANSPARENT BUTTON */
.btn-hover-transparent:hover .btn-effect {
    @apply !bg-white !text-next-800;
}

.btn-hover-transparent .btn-effect,
.btn-next.btn-hover-transparent:hover.btn-hover-transparent:before {
    @apply bg-next-800;
}

.card-similares,
.card-sugerencias {
    @apply rounded-xl xs:rounded-none;
}

.card-not-unknown::before,
.card-recents::before,
.card-similares::before,
.card-sugerencias::before {
    @apply content-[''] block absolute top-[50%] left-0 xs:w-[0.25px] xs:bg-borderminicard h-[70%] z-10 -translate-y-[50%];
}

.card-not-unknown::before:first-child,
.card-recents::before:first-child,
.card-similares::before:first-child,
.card-sugerencias::before:first-child {
    @apply w-0;
}

.icon-button-menu {
    @apply content-[''] absolute top-[50%] left-[50%] -translate-x-[50%] h-[5px] w-10 bg-colorheadermarketplace transition-transform ease-out duration-200;
}

.icon-button-menu::after {
    @apply content-[''] absolute -bottom-4 left-0 block bg-colorheadermarketplace w-10 h-[5px] transition-transform ease-out duration-200;
}

.icon-button-menu::before {
    @apply content-[''] absolute -top-[17px] left-0 block bg-colorheadermarketplace w-10 h-[5px] transition-transform ease-out duration-200;
}

.button-sidebar {
    @apply rounded-sm text-colorheadermarketplace flex relative justify-start items-center w-auto max-w-40 h-12 hover:opacity-80 transition ease-in-out duration-150;
}

.button-sidebar.open {
    @apply opacity-90;
}
.button-sidebar.open .icon-button-menu {
    @apply rotate-45;
}

.button-sidebar.open .icon-button-menu::before {
    transform: translate3d(0, 10px, 0) rotate(-45deg);
    @apply opacity-0;
}

.button-sidebar.open .icon-button-menu::after {
    transform: translate3d(0, -16px, 0) rotate(90deg);
}

.carousel-item {
    @apply float-left opacity-0 w-full absolute top-0 h-full -mr-[100%] transition-opacity ease-in-out duration-700;
}

/* .carousel-item.activo, */
.carousel-item-next,
.carousel-item-prev {
    @apply block z-50;
}

.carousel-item.activo {
    /* left: 0; */
    opacity: 1;
    /* transform: translateX(0); */
}

.footer-marketplace {
    @apply bg-fondofooter text-[10px] lg:text-xs text-colorlinkfooter;
}

.footer-marketplace ul {
    @apply w-full block p-3;
}

.footer-marketplace ul li {
    @apply w-full block;
}

.footer-marketplace ul li a {
    @apply block p-1.5 text-center font-medium transition duration-300;
}

.footer-marketplace ul li a.item-footer,
.footer-social .social-footer {
    @apply w-full p-1 text-center tracking-wide font-medium hover:text-hoverlinkfooter transition duration-300;
}

.footer-social .social-footer {
    @apply block bg-white rounded-full w-8 h-8 transition-transform ease-linear duration-300;
}

.footer-social .email {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .whatsapp {
    @apply !p-0 ring-[2px] ring-white text-fondofooter;
}

.footer-social .youtube {
    @apply !p-0 ring-[2px] ring-white text-fondofooter;
}

.footer-social .email:hover {
    @apply text-white bg-red-700;
}

.footer-social .whatsapp:hover {
    @apply text-white bg-green-500;
}

.footer-social .facebook {
    @apply ring-white ring-[2px] text-fondofooter;
}

.footer-social .facebook:hover {
    @apply ring-white bg-blue-700 text-white;
}

.footer-social .youtube:hover {
    @apply ring-white bg-red-600 text-white;
}

.footer-social .instagram {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .instagram:hover {
    @apply bg-white text-white;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}

.footer-social .tiktok {
    @apply ring-[2px] ring-white text-fondofooter;
}

.footer-social .tiktok:hover {
    @apply bg-neutral-900 text-white;
}

.footer-social .social-footer:hover {
    transform: rotate(360deg) scale(1.2);
}

/* START CARD 3D */
.flip3D {
    @apply w-full xs:w-48 h-60 lg:w-[300px] lg:h-[400px] md:skew-x-[8deg] rounded-3xl relative;
    perspective: 900px;
}

.card {
    @apply absolute bg-cover bg-center bg-no-repeat w-full h-full rounded-3xl shadow-md hover:shadow-xl shadow-shadowminicard transition-transform ease-in-out duration-700;
    transform-style: preserve-3d;
}

.card.front {
    @apply flex justify-center items-center p-5;
    backface-visibility: visible;
}

.card.back {
    @apply p-2 text-center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.fondo {
    @apply absolute left-0 top-0 w-full h-full block bg-next-700 overflow-hidden rounded-3xl;
}

.fondo .fondo-img {
    @apply absolute md:-skew-x-[8deg] top-0 saturate-100 -left-[20%] opacity-90 overflow-hidden bg-cover bg-no-repeat bg-center h-full w-[130%];
}

.card .card-depth {
    transform: translateZ(70px);
    backface-visibility: hidden;
}

.card .title-card-front,
.card .title-card-back {
    @apply md:-skew-x-[8deg] block text-sm lg:text-4xl font-semibold relative tracking-widest rounded;
}

.card .title-card-front {
    @apply px-4 py-2 text-white;
}

.card .title-card-front::before {
    @apply absolute md:skew-x-6 top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%] content-[''] w-full h-full bg-next-500 -z-[1] rounded-md;
}

.back .fondo .fondo-img::before {
    @apply absolute top-0 left-0 content-[''] w-full h-full bg-neutral-700 rounded-xl bg-opacity-70;
}

.card .title-card-back {
    @apply p-1 pt-5 text-white;
}

.card .texto-card-back {
    @apply block md:-skew-x-[8deg] text-[10px] lg:text-sm p-3 px-5 text-white font-semibold;
}

.flip3D:hover > .front {
    transform: rotateY(-180deg);
}

.flip3D:hover > .card.back {
    transform: rotateY(0deg);
}

/* END CARD 3d */

/* START SLIDER SERVICIOS */

.next-wow {
    @apply p-3 sm:p-5 text-center rounded-lg sm:rounded-3xl border;

    box-shadow: 8px 5px 0px 0px #ccc;
}

.next-wow .icono {
    @apply text-center text-primary;
}

.next-wow .titulo {
    @apply font-semibold text-lg text-center text-next-500 pb-3;
}

.next-wow .texto {
    @apply font-normal text-sm leading-6 text-center text-colorsubtitleform;
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

/* END SLIDER SERVICIOS */

.indicador-slider {
    @apply flex-shrink-0 cursor-pointer w-2.5 h-2.5 block bg-neutral-200 rounded-full opacity-100 transition-all ease-out duration-300;
}

.indicador-slider.activo {
    @apply bg-next-500 scale-150;
}

.carousel-item-link {
    @apply absolute flex z-[1] w-full h-full;
}

.carousel-item-link a {
    @apply w-full h-full;
}

* {
    flex: 0 0 auto;
}

.carrusel-item {
    @apply w-full opacity-0 invisible absolute top-0 left-0 lg:flex lg:justify-end;
}

.carrusel-item {
    transition-property: visibility, opacity;
    @apply h-full transition duration-[1s];
}

.carrusel-item.activo {
    @apply opacity-100 visible relative z-[1];
}

.carrusel-item div {
    @apply w-full h-full lg:overflow-hidden lg:w-[130%] lg:-skew-x-[20deg];
    transform-origin: center bottom;
}

.carrusel-item.activo div {
    animation: _banner 1s forwards;
}

@keyframes _banner {
    0% {
        width: 0;
    }

    100% {
        width: 130%;
    }
}

.slider.desvanecer
    .carrusel-contenedor
    .carrusel-contenido
    ul.carrusel-lista
    .carousel-item {
    height: 100%;
    transition: 1s;
    transition-property: opacity, visibility;
}

.slider.desvanecer ul.carrusel-lista .carousel-item.activo {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 1;
}

.dropdown-login::before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 9px 7px;
    content: "";
    height: 0;
    right: 68px;
    top: -7px;
    width: 0;
    position: absolute;
}

/* SIDEBAR MARKETPLACE */

.boxes-sidebar {
    @apply w-full flex-1 relative;
}

.item-sidebar {
    @apply relative;
}

.itemlink-sidebar-principal {
    @apply flex justify-between items-center p-3 text-colorsubtitleform box-border h-14 cursor-pointer transition ease-in-out duration-150;
}

.title-category-sidebar {
    @apply flex-1 w-full font-medium text-xs leading-4 text-inherit flex items-center gap-2;
}

.item-sidebar:hover .itemlink-sidebar-principal,
.itemlink-sidebar-principal:hover {
    @apply bg-hoverlinknav rounded-md text-hovercolorlinknav relative;
}

.sale {
    @apply p-1 bg-primary text-white rounded-md leading-3 mx-2.5 text-[10px] tracking-wide;
}

.link-icon-down svg {
    @apply w-4 h-4 flex-shrink-0 block text-colorlinknav overflow-hidden align-middle;
}

.item-sidebar:hover .link-icon-down svg {
    @apply text-white;
}

.link-sidebar {
    @apply relative flex items-center justify-between px-3 py-4 text-colorsubtitleform cursor-pointer overflow-hidden;
}

.item-sidebar .menu-subcategories {
    @apply w-full hidden relative duration-300;
}

.item-sidebar .menu-subcategories .item-subcategory {
    @apply text-textselect2 whitespace-nowrap rounded-md p-3 py-3.5 pl-5 w-full block hover:bg-fondohoverselect2 hover:text-texthoverselect2 text-xs transition ease-in-out duration-150;
}

/* @media (min-width: 640px) { 
    .item-sidebar:hover > .menu-subcategories {
        @apply flex relative top-0 left-0;
    }
} */

/* END SIDEBAR */

/* BUTTON PERSONALIZADo */
.custom-btn {
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    transition: all 0.3s ease;
    @apply ring-0 bg-transparent border-0 text-xs px-4 py-3 text-next-500 inline-block relative cursor-pointer;
}

.custom-btn span {
    /* position: relative; */
    display: block;
    width: 100%;
    height: 100%;
}

.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(15, 185, 185);
    transition: all 0.3s ease;
}

.custom-btn:before {
    height: 0%;
    width: 2px;
}

.custom-btn:after {
    width: 0%;
    height: 2px;
}

.custom-btn:hover {
    color: rgb(15, 185, 185);
    background: transparent;
}

.custom-btn:hover:before {
    height: 100%;
}

.custom-btn:hover:after {
    width: 100%;
}

.custom-btn span:before,
.custom-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(15, 185, 185);
    transition: all 0.3s ease;
}

.custom-btn span:before {
    width: 2px;
    height: 0%;
}

.custom-btn span:after {
    height: 2px;
    width: 0%;
}

.custom-btn:hover.custom-btn span:before {
    height: 100%;
}

.custom-btn:hover.custom-btn span:after {
    width: 100%;
}

/* END BUTTTON PERSONALIZADO */

.badge-especificacion {
    box-shadow: 0px 1px 3px 3px #aaa;
}

/* MARQUEE */
.marquee-container {
    width: 200px;
    /* Adjust as needed */
    height: 700px;
    /* Adjust as needed */
    overflow: hidden;
    margin-right: 20px;
    margin-left: 10px;
}

.marquee-content {
    display: flex;
    flex-direction: column;
    animation: marquee 10s linear infinite;
}

.marquee-content img {
    margin-bottom: 20px;
    /* Adjust as needed */
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

@keyframes marquee {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.marquee-container2 {
    width: 200px;
    /* Adjust as needed */
    height: 700px;
    /* Adjust as needed */
    overflow: hidden;
    margin-right: 20px;
}

.marquee-content2 {
    display: flex;
    flex-direction: column-reverse;
    animation: marquee2 10s linear infinite;
}

.marquee-content2 img {
    margin-bottom: 20px;
    /* Adjust as needed */
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

@keyframes marquee2 {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.marquee-container3 {
    width: 100%;
    height: 150px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.marquee-content3 {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee3 20s infinite linear;
}

.marquee-content3 img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    padding: 5px;
}

@keyframes marquee3 {
    /* 0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    } */
}

/*Buttons Soluciones Integrales */

.button-tic {
    @apply size-[5.5rem] md:size-28 flex flex-col gap-1 justify-center items-center p-2 xs:p-2 md:p-3 rounded-full border border-borderminicard text-[8px] md:text-[10px] font-medium transition-colors duration-150 ease-in-out;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
}
.heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
}

.card-solutions {
    @apply w-full cursor-pointer relative;
    perspective: 1000px;
}

.card-solutions img {
    @apply overflow-hidden w-full h-full min-h-60 max-h-full object-cover object-center;
}

.card-solutions .front-card-solutions,
.card-solutions .back-card-solutions,
.card-solutions img,
.card-solutions:before {
    @apply rounded-lg md:rounded-3xl;
}

.card-solutions .front-card-solutions,
.card-solutions .back-card-solutions {
    @apply absolute w-full h-full max-w-full top-0 left-0 flex justify-center items-center content-center p-3 md:p-5;
    background-position: center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.card-solutions .front-card-solutions {
    width: 100%;
    background-size: cover;
    font-size: 1.618rem;
    font-weight: 500;
    overflow: hidden;
}

.card-solutions:hover .front-card-solutions {
    opacity: 0;
    /* background: rgba(255, 255, 255, 1); */
    transform: rotateY(180deg);
}

.card-solutions .back-card-solutions {
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    transform: rotateY(180deg);
}

.card-solutions:hover .back-card-solutions {
    transform: rotateY(0deg);
}

.card-solutions.security {
    position: relative;
}


.card-solutions.security:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9) 15%,
        rgba(255, 255, 255, 0) 45%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9) 15%,
        rgba(255, 255, 255, 0) 45%
    );
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9) 15%,
        rgba(255, 255, 255, 0) 45%
    );
    
}

.list-datacenter li {
    @apply leading-none space-y-5;
}

.list-datacenter li::marker {
    /* font-size: 1.2rem; */
    font-weight: 700;
}

.grecaptcha-badge {
    visibility: hidden;
}

.btn-float-whatsapp {
    @apply fixed text-white bg-[#25d366] p-6 md:p-8 z-[29] bottom-3 md:bottom-5 right-3 md:right-5 flex items-center justify-center w-0 h-0 rounded-full;
    animation-name: pulsation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.paginator-marketplace-productos .text-descripcion-paginator{
    @apply sm:!text-center;
}

[x-cloak] {
    display: none !important;
}

/* .btn-float-whatsapp:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    padding: 25px;
    border: 5px solid #25d366;
    opacity: 0.75;
    animation-name: pulse-border;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
} */

@keyframes pulsation {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}

/* @keyframes pulse-border {
    0% {
        padding: 25px;
        opacity: 0.75;
    }
    75% {
        padding: 50px;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} */

/* .animate-marquee {
    animation: marquee 28320ms linear infinite;
}

.animate-fade-in {
    animation: fade-in .5s linear forwards;
}

@keyframes marquee {
    100% {
        transform: translateY(-50%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

/* EBD MARQUEE */
