.select2.select2-container {
    @apply w-full overflow-hidden !important;
}

.select2-search--dropdown {
    @apply p-0;
}

.select2-container .select2-dropdown {
    @apply bg-fondoselect2 shadow-lg shadow-shadowselect2 mt-1 p-2 border-0 rounded-md !important;
}

.select2-container--open .select2-dropdown--below {
    @apply border-shadowselect2 border-t-0 border-solid !important;
}

.select2.select2-container .select2-selection {
    @apply p-1.5 px-4 border border-next-300 rounded-lg outline-none transition-all duration-150;
}

#parentdatecodegarantia .select2.select2-container .select2-selection,
#parentrpcot_entrega .select2.select2-container .select2-selection {
    @apply border-l-0 rounded-tl-none rounded-bl-none !important;
}


.select2-container .select2-selection--single {
    @apply bg-transparent h-auto;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    @apply px-0 text-colorlabel text-sm !leading-normal;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    @apply hidden;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    @apply border border-next-300;
}

.select2.select2-container .select2-selection--multiple {
    @apply p-2.5 h-auto;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    @apply mt-0 p-2.5;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    @apply relative bg-white p-2.5 border border-next-300 rounded-sm h-[32px] text-sm leading-3;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    @apply top-0 left-0 absolute m-0 font-bold text-red-600 text-sm text-center;
}

/* .select2-container .select2-dropdown .select2-search {} */

.select2-container .select2-dropdown .select2-search input {
    @apply bg-transparent shadow-none p-2.5 border border-next-300 rounded-lg outline-none text-colorlabel text-sm leading-3 !important;
}

.select2-container .select2-dropdown .select2-search input:focus {
    @apply border-next-400 ring-0 !important;
}

.select2-container .select2-dropdown .select2-results {
    @apply mt-2 p-0 overflow-hidden text-xs leading-normal;
}

.select2-container .select2-dropdown .select2-results ul {
    @apply bg-fondoselect2 text-colorlabel;
}

.select2-container--default.select2-container--disabled .select2-selection--single,
.select2-container--default.select2-container--disabled .select2.select2-container .select2-selection:focus {
    @apply bg-fondoinputdisabled opacity-80 shadow-none border-gray-300 !important;
}

.select2-results__option {
    @apply p-2 rounded-md duration-150 ease-in-out !important;
}

.select2-results__option .select2-subtitle-option {
    @apply text-subtitleselect2 duration-150 ease-in-out;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    @apply rounded-md w-[6px] h-[4px] cursor-pointer;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-md cursor-pointer;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md cursor-pointer;
}

/* #form-configuracion .select2.select2-container .select2-selection {
    @apply p-2 rounded-lg;
}

#form-configuracion .select2.select2-container .select2-selection .select2-selection__rendered {
    @apply !leading-normal;
} */

/* .soft-scrollbar::-webkit-scrollbar {
    @apply w-[4px] h-[4px] cursor-pointer;
}

.soft-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#e2e8f0] cursor-pointer;
}

.soft-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] cursor-pointer;
} */

/* .select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    @apply bg-blue-300;
} */

/* .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #6baefa transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #3b82f6 transparent;
} */

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    @apply bg-fondohoverselect2 text-texthoverselect2;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
    @apply bg-fondoactiveselect2 text-textactiveselect2;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] .select2-subtitle-option {
    @apply text-subtitleactiveselect2 !important;
}

.select2-container--default .select2-results__option[aria-selected='true'] .select2-subtitle-option {
    @apply text-subtitleactiveselect2 !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    @apply rounded-bl-lg rounded-br-lg;
}

.custom-list-select {
    @apply flex gap-2 w-full;
}

.custom-list-select .image-custom-select {
    @apply flex-shrink-0 rounded-lg w-20 h-20 overflow-hidden;
}

.custom-list-select .content-custom-select {
    @apply flex-1 w-full;
}

.custom-list-select .title-custom-select {
    @apply block w-full font-medium text-textselect2 text-xs;
}

.custom-list-select .marca-custom-select {
    @apply block w-full font-medium text-colorsubtitleform text-xs;
}

.custom-list-select .category-custom-select {
    @apply flex justify-start items-center gap-2 w-full text-[10px] text-subtitleselect2;
}

.select2-container--default .select2-results__option[aria-selected='true'] .title-custom-select {
    @apply text-textactiveselect2;
}

.select2-container--default .select2-results__option[aria-selected='true'] .marca-custom-select,
.select2-container--default .select2-results__option[aria-selected='true'] .category-custom-select {
    @apply !text-neutral-200;
}