.select2.select2-container {
    @apply w-full overflow-hidden !important;
}

.select2.select2-container .select2-selection {
    @apply p-2.5 px-4 border border-next-300 rounded-sm outline-none transition-all duration-150;
}

.select2-container .select2-selection--single {
    @apply h-auto bg-transparent;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    @apply text-next-500 text-sm leading-3 px-0;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    @apply bg-transparent border-next-300 rounded-sm w-[40px] h-full;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    @apply rounded-sm;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    @apply border border-next-300;
}

.select2.select2-container .select2-selection--multiple {
    @apply h-auto p-2.5;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    @apply mt-0 p-2.5;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    @apply h-[32px] bg-white border border-next-300 p-2.5 leading-3 text-sm rounded-sm relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    @apply absolute top-0 left-0 m-0 text-center font-bold text-red-600 text-sm;
}

.select2-container .select2-dropdown {
    @apply bg-fondoselect2 shadow shadow-shadowselect2 border-0 rounded-xl mt-1 p-0 !important;
}

.select2-container--open .select2-dropdown--below {
    @apply border-solid border-t-0 border-shadowselect2 !important;
}

.select2-container .select2-dropdown .select2-search {}

.select2-container .select2-dropdown .select2-search input {
    @apply bg-transparent text-textselect2 outline-none border border-next-300 p-2.5 text-sm leading-3 shadow-none rounded-lg !important;
}

.select2-container .select2-dropdown .select2-search input:focus {
    @apply shadow shadow-next-300 border-next-500 ring-0 !important;
}

.select2-container .select2-dropdown .select2-results {
    @apply p-0 overflow-hidden shadow-md shadow-shadowselect2 rounded-xl text-sm;
}

.select2-container .select2-dropdown .select2-results ul {
    @apply bg-fondoselect2 text-textselect2 rounded-xl;
}

.select2-container--default.select2-container--disabled .select2-selection--single,
.select2-container--default.select2-container--disabled .select2.select2-container .select2-selection:focus {
    @apply shadow-none border-gray-300 bg-fondoinputdisabled opacity-80 !important;
}

.select2-results__option {
    @apply p-2.5 ease-in-out duration-150 !important;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    @apply cursor-pointer h-[4px] w-[4px];
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    @apply bg-[#e2e8f0] cursor-pointer;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] cursor-pointer;
}


/* .soft-scrollbar::-webkit-scrollbar {
    @apply cursor-pointer h-[4px] w-[4px];
}

.soft-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#e2e8f0] cursor-pointer;
}

.soft-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] cursor-pointer;
} */

/* .select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    @apply bg-blue-300;
} */

/* .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #6baefa transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #3b82f6 transparent;
} */

.select2-container--default .select2-results__option[aria-selected=true] {
    @apply bg-next-400 text-white;
}

.select2.select2-container .select2-selection:focus,
/* .select2-container--default.select2-container--open.select2.select2-container .select2-selection .select2-selection__arrow, */
.select2-container--default.select2-container--open.select2.select2-container .select2-selection {
    @apply shadow shadow-next-300 rounded-sm border-next-500;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    @apply rounded-b-sm;
}

.select2-container--default .select2-results__option--selected {
    @apply bg-next-500 text-white !important;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    @apply bg-next-500;
}